/*
Assignment
   
   Author: WILLIAM LEE VOON LEIM
   Date:   27.7.2021
   
   Filename: FAQ.css
*/

/* FAQ */
body{
    font-family: 'Poppins', sans-serif;
}
.faq-content{
    margin: 5% auto 5% 11%;;
}
div.title{
    font-weight: normal;
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
    color:#aabada;
    text-shadow:5px 5px 10px#a3b0c9;
}
.answer{
    margin-left:3%;
    margin-top:1%;
    color: #a6ceda;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}
div.ques summary {
    font-size: larger;
    cursor: pointer;
    padding-bottom: 20px;
    color:#e8c4ff;
    border-bottom: 2px solid #6E85B2;
}
summary::before{
    content: "\2754";
}
body{
    width: 90%;
    position: absolute;
}
div.ques{
    padding-bottom: 5px;
    user-select: none;     
    font-family: 'Poppins', sans-serif;
}
.ques {
    background-color: rgba(0, 0, 0, 0.527);
    padding: 0 10px;
    margin-bottom: 10px;
}
div.answer a {
    text-decoration: none;
}
.contact {
    color:aliceblue;
}
div.answer a:hover {
    color:rgb(0,204,204);
} 
ol{
    margin-left:-2%;
    list-style-type:decimal;
}

